{% extends 'core/main.html' %}

{% block right-aside %}
    <div class="card shadow me-4 aside">
        <div class="aside-title ps-4 pt-3 pb-3">
            Билеты по теме
        </div>
        {% for ticket in context.tickets %}
            <a class="theme-link" href='{% url "ticket" ticket.theme.slug ticket.number %}'>Билет №: {{ ticket.number }}</a>
        {% endfor %}
        <div class="aside-bottom ps-4 pt-3 pb-3">

        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <ul class="list-group p-0 m-0">
            {% for question in context.questions %}
            <div class="card question-card shadow">
                <div class="ticket-title"
                     data-bs-toggle="tooltip"
                     data-bs-placement="bottom"
                     title='{{ question.description }}'
                >
                    <h6>{{ question.text }}</h6>
                    {%if question.multiselect %}
                        <p class="text-warning pb-0 mb-0">Несколько правильных вариантов</p>
                    {% endif %}
                </div>
                <ul class="list">
                    {% for answers in context.answers %}
                        {% if question.id ==  answers.ques.id %}
                            <li class="pt-2 d-flex justify-content-between">
                                {{ answers.text }}
                                {% if not question.multiselect %}
                                    <p class="pe-4">
                                         <input class="form-check-input" type="radio" name="{{ question.id }}" value="answers.correct">
                                    </p>
                                {% else %}
                                    <p class="pe-4">
                                         <input class="form-check-input" type="checkbox" name="{{ question.id }}" value="answers.correct">
                                    </p>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}